<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="utf-8"/>
        <title>Bilard</title>
        <meta name="description" content="Strona Bilardu tworzona w celu poduczenia sie"/>
        <meta name="keywords" content = "Bilard, gra, mecze, rozrywka, 8ball"/>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
        <link rel="stylesheet" href="css/main.css" type="text/css"/>
        <link href="https://fonts.googleapis.com/css2?family=Blinker:wght@600&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <div id="logo">
                <a href="/"><img src="img/logo.png" height="150"/></a>
            </div>
            <nav>
                <ul class="menu">
                    <li><a class="menulink" href="/">Strona Główna</a></li>
                    <li><a class="menulink" href="/news">Najnowsze informacje</a></li>
                    <li><a class="menulink" href="/turnieje">Turnieje</a></li>
                    <li><a class="menulink" href="/kontakt">Kontakt</a></li>
                    <% if(typeof user != 'undefined'){%>
                        <% if(user.admin){ %>
                            <li><a class="menulink" href="/admin">Panel</a></li>
                        <%} %>
                        <li><a class="menulink" href="/logout">Wyloguj</a></li>
                    <%}else{%>
                        <li><a class="menulink" href="/logowanie">Zaloguj</a></li>
                        <li><a class="menulink" href="/rejestracja">Rejestracja</a></li>
                    <% } %>
                </ul>
            </nav>
            <div class="container">
            <article>
                <header>
                    <div class="title">
                        <h1>Logowanie</h1>
                    </div>
                </header>
                <div class="loginpanel">
                    <form action="/logowanie" method="POST">
                        <div id="registermessage">
                            <h3>
                                <% if(messages.error) %> 
                                <%= messages.error %> 
                            </h3>
                        </div>
                        <label for="username"><b>Nazwa użytkownika:</b></label><br>
                        <input class="radius" type="text" id="username" name="username" size="25" required><br>
                        <label for="password"><b>Hasło:</b></label><br>
                        <input class="radius" type="password" id="password" name="password" size="25" required><br>
                        <input class="buttons" type="submit" id="submit" value="Zaloguj">
                    </form>
                </div>
            </article>
                
            </div>
        </header>

    </body>

</html>